[ui]
	color = true

[user]
	name = Daniel Jones
	email = daniel@jones.org.uk

[alias]
	clean-branches = "!git branch | grep -v master | grep -v develop | tr -d '*' | xargs git branch -d"
	list-tags = "!git log --tags --simplify-by-decoration --pretty='format:%ai %d' | sort -r"

[core]
	excludesfile = /Users/daniel/.gitignore

[push]
	default = simple
